.bg-primary {
  background-color: #EBF0FA;
  border-radius: 10px 0 0 10px;
}

.bg-secondary {
  border-radius: 0 10px 10px 0;
}

@media (max-width: 767px) {
  .bg-primary {
    border-radius: 10px 10px 0 0;
  }

  .bg-secondary {
    border-radius: 0 0 10px 10px;
  }
}